<include file="Public:header"/>
      	<div class="container-fluid-full">
		<div class="row-fluid">
		   <include file="Public:sliderxe"/>
             <div class="right content">
                <div class="right-menu">
                	<p class="left"><i class="fa1 icon-home"></i>首页<i class="fa icon-angle-right"></i>已取消</p>
                	
                </div>
                <div class="main">
                <div class="panel panel-default">
                     <div class="panel-heading">
					      <h3 class="panel-title">
					          <i class="fa  icon-folder-open"></i>
					         已取消评审的申请表				          
					      </h3>
					 </div>
         
					 <table class="table table-bordered table-striped border">
                                 <thead class="top">
								  <tr>
								  	<th style="text-align:center;">申请人</th>
								  	<th style="text-align:center;">专业领域</th>
									<th style="text-align:center;">编辑</th>
								  </tr>
								   </thead>
								   <tbody>
								<volist name="list" id="list">
								   <tr>
								   <td style="text-align:center;">{$list.name}</td>
								   <td style="text-align:center;">{$list.major}</td>
								   <td style="text-align:center;"><a href="__URL__/hl?numid={$list.numid}&aid={$list.aid}"  class="btn btn-sm btn-info " ><i class="icon-pencil">评审</i></a>
								   </td>
								   </tr>	
                                </volist>	   
						      </tbody>		
                       </table>			
                 </div>      							  
                         </div>
                         
                          
                         
               </div>
             </div>      
		</div>
		</div>
		<include file="Public:footer"/>
