<!DOCTYPE html>
<html lang="en">
<head>
	<?php header("Content-Type: text/html; charset=utf-8");?>
	<meta charset="utf-8">
	<title>后台管理系统</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<link href="__PUBLIC__/Back/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/Back/css/font-awesome.min.css" rel="stylesheet">
	<link href="__PUBLIC__/Back/css/base.css" rel="stylesheet">
	<link href="__PUBLIC__/Back/css/admin.css" rel="stylesheet">
	<script type="text/javascript" src="__PUBLIC__/Back/js/jquery.min.js"></script>
	<body>
	    <div class="nav-inner">
           <div class="nav-left">
           	   Admin System
           </div>

           <ul class="nav nav-right right">
                <li><a href="__APP__/admin/Login/login"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;退出</a></li>
           </ul>
        </div>