      <div id="sidebar-left" class="span2 left">
        <div class="nav-collapse sidebar-nav">
          <ul class="nav nav-tabs nav-stacked main-menu">
           
            <li><a href="__APP__/admin/Xexpert/index.html">&nbsp&nbsp&nbsp&nbsp<i class="fa icon-angle-right"></i><span>已评审</span></a></li>
           
                <li><a  href="__APP__/admin/Xexpert/none.html">&nbsp&nbsp&nbsp&nbsp<i class="fa icon-angle-right"></i><span>未评审</span></a></li>
                <li><a  href="__APP__/admin/Xexpert/cancle.html">&nbsp&nbsp&nbsp&nbsp<i class="fa icon-angle-right"></i><span>已取消</span></a></li>

          </ul>
        </div>
      </div>
