 <div id="sidebar-left" class="span2 left">
        <div class="nav-collapse sidebar-nav">
          <ul class="nav nav-tabs nav-stacked main-menu">
               
                
                <li><a href="__APP__/admin/Ymanager/index.html">&nbsp&nbsp&nbsp&nbsp<i class="fa icon-angle-right"></i><span>个人中心</span></a></li>       
                <li><a  href="__APP__/admin/Ymanager/add.html">&nbsp&nbsp&nbsp&nbsp<i class="fa icon-angle-right"></i><span>添加账号</span></a></li>
                  <li><a  href="__APP__/admin/Ymanager/handout.html">&nbsp&nbsp&nbsp&nbsp<i class="fa icon-angle-right"></i><span>材料分发</span></a></li>
          </ul>
        </div>
      </div>
