<include file="Public:header"/>
<script type="text/javascript">
  function f1(){
     var con1=document.getElementById('mtk1').value;
	  var con2=document.getElementById('mtk2').value;
	   var con3=document.getElementById('mtk3').value;
	    var con4=document.getElementById('mtk4').value;
    // window.location.href="__URL__/rcmanager?user="+con1+"&password="+con2+"&name="+con3+"&college="+con4;exit;
      var xhr=new XMLHttpRequest();
	  xhr.onreadystatechange=function(){
	      if(xhr.readyState==4){
		      alert(xhr.responseText);
			  window.location.href="__URL__/add2";
		  }
	  }
	  xhr.open('get',"__URL__/rcmanager?user="+con1+"&password="+con2+"&name="+con3+"&college="+con4);
	  xhr.send(null);
  }
  function f2(pid){
      var xhr=new XMLHttpRequest();
	  xhr.onreadystatechange=function(){
	      if(xhr.readyState==4){
		      alert(xhr.responseText);
			  window.location.href="__URL__/add2";
		  }
	  }
	  xhr.open('get',"__URL__/delmanager?id="+pid);
	  xhr.send(null);
  }
</script>
      	<div class="container-fluid-full">
		<div class="row-fluid">
		   <include file="Public:sliderxm"/>
             <div class="right content">
                <div class="right-menu">
                	<p class="left"><i class="fa1 icon-home"></i>首页<i class="fa icon-angle-right"></i>添加账号</p>
                	
                </div>
                <div class="main">
                <div class="panel panel-default">
                     <div class="panel-heading">
					      <h3 class="panel-title">
					          <i class="fa  icon-folder-open"></i>
					         添加校通讯评审账号			          
					      </h3>				
					 </div>
         
					  <table class="table table-bordered table-striped border">
                                 <thead class="top">
								  <tr>
								  	<th>姓名</th>
								  	<th>学院</th>
								  	<th>编辑</th>
								  </tr>
								   </thead>
								   <tbody>
								   <volist name="list" id="vo">
								   <tr>
								   <td>{$vo.name}</td>
								   <td>{$vo.college}</td>
								   <td><a class="btn btn-xs btn-danger" href="javascript:f2({$vo.id});"><i class="icon-trash">删除</i></a>
								      
								   </td>
	
								   </tr>	
                                   </volist>								   
						      </tbody>							    
				  			   </table>			
                         </div>                           
						   <input type="button" class="btn btn-info inline personbtn right right-d2" data-toggle="modal" 
								   data-target="#myModal" value="添加"/>
						 

							
								<!-- 模态框（Modal） -->
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
								   aria-labelledby="myModalLabel" aria-hidden="true">
								   <div class="modal-dialog">
								      <div class="modal-content">
								         <div class="modal-header">
								            <button type="button" class="close" 
								               data-dismiss="modal" aria-hidden="true">
								                  &times;
								            </button>
								            <h4 class="modal-title" id="myModalLabel">
								               请添加账号
								            </h4>
								         </div>
								         <div class="modal-body">
								            <input name="person" id="mtk1" class="form-control" placeholder="请输入教职工工号，即为登录账号"  type="text"/><br/>
                                             <input name="position" id="mtk2" class="form-control" placeholder="教职工生日，即为登录密码" type="text"/><br/>
											<input name="position" id="mtk3" class="form-control" placeholder="姓名" type="text"/><br/>
											 <input name="position" id="mtk4" class="form-control" placeholder="学院" type="text"/><br/>
								         </div>
								         <div class="modal-footer">
								            <button type="button" class="btn btn-default" 
								               data-dismiss="modal">关闭
								            </button>
								            <button type="button" class="btn btn-primary" onclick="f1()">
								               提交
								            </button>
								         </div>
								      </div><!-- /.modal-content 姓名、学院、专业方向、可评学科1、可评学科2、可评学科3-->
								</div><!-- /.modal -->
								</div>



               </div>

             </div>      
		</div>
		</div>
		<include file="Public:footer"/>
