#content2{
	width:80%;
	margin-top:25px;
	padding-bottom:15px;
	min-height:580px;
	margin-left:10%;
	background:#FBFBFB;
	border:1px solid #ccc;
}
#content2 h1{
	font-size:20px;
	font-weight:normal;
	text-align:center;
	margin-top:20px;
	margin-bottom:15px;
	letter-spacing:3px;
	line-height:30px;
	color:red;
}
#content2 hr{
	width:90%;
	margin-left:5%;
	border-spacing:dotted;
	margin-bottom: 20px;
	margin-top:10px;
	color:#aaa;
}
#content2 span{
	width:86%;
	font-size:18px;
	letter-spacing:1px;
	line-height:50px;
	margin-left:7%;
	color:#333;
	display:inline-block;
}
/*#content2 span a{
	width:20%;
	height:150px;
	display:inline-block;
	margin-right:1%;
	margin-top:15px;
	padding:10px;
	border:1px solid #999;
}*/
#content2 span img{
	width:45%;
	height: 300px;
	margin-left: 2.5%;
	margin-left: 2.5%;
	margin-bottom: 15px;
	/*height:150px;*/
}
#content2 span img.code {
	width: 100px;
	height: 30px;
	margin-left: 10px;
	margin-bottom: 0px;
}
#content2 span pre{
	overflow:auto;
	width:100%;
	line-height:27px;
	text-align:left;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	margin-bottom:15px;
}
#content2 .zhuce span{
	margin-left:12%;
}
.zhuce span i{
	width:270px;
	text-align:right;
	display:inline-block;
	font-style:normal;
	margin-right: 5px;
}
.zhuce span h6,h5{
	font-size:13px; 
	font-weight:normal;
	display:inline-block;
}
.zhuce span h5{
	height:40px;
}
.zhuce span h5 img{
	margin-bottom:0px;
	width:100px;
	height:30px;
}
.zhuce span h5 a{
	cursor:pointer;
}
.zhuce span input{
	width:180px;
	padding:2px;
	padding-left:4px;
}
.zhuce span input:focus{
	box-shadow:0px 0px 5px lightblue;
}
.zhuce span input.submit{
	width:80px;
	margin-left:15px;
}
.zhuce span input.left{
	margin-left:150px;
}
div.time{
	width:80%;
	margin-top:20px;
	height:455px;
}
div.time span i{
	font-style:normal;
	font-size:13px;
	margin-left:5px;
	margin-right:5px;
}
.submit{
	width:150px;
	margin-left:150px;
}
div.liuyan{
	margin-top:20px;
	margin-left:20px;
	margin-bottom:20px;
	float:left;
	width:35%;
	min-height:300px;
}
textarea.liuyan{
	width:80%;
	height:200px;
	margin-left:10%;
	padding:2px;
}
a.submit_liuyan{
	margin:0 auto;
	margin-top:20px;
	display:block;
	letter-spacing:1px;
	text-align:center;
	width:120px;
	height:25px;
	border:1px solid lightblue;
	line-height:25px;
}
div.time h3{
	margin-left:12%;
	font-size:15px;
	font-weight:normal;
	margin-top:20px;
}
div.time pre{
	width:80%;
	font-size:14px;
	margin-left:12%;
	text-indent:30px;
	line-height:27px;
	overflow:auto;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#startime,#endtime{
	padding:2px;
}


#content3{
	width:76%;
	margin-top:20px;
	min-height:580px;
	margin-left:12%;
	background:#FBFBFB;
	border:1px solid #ccc;
}
#content3 h1{
	font-size:20px;
	font-weight:normal;
	text-align:center;
	margin-top:40px;
	margin-bottom:15px;
	letter-spacing:3px;
	line-height:30px;
	color:red;
}
#content3 span.title{
	width:105%;
	font-size:18px;
	text-indent:36px;
	letter-spacing:1px;
	line-height:50px;
	margin-left:7%;
	color:#666;
	display:inline-block;
}
i.red{
	color:#333;
	font-style:normal;
	margin:10px;
	font-size:14px;
}
img.chatu{
	width:60%;
	margin-left:20%;
}
img.rczp-table{
	width:80%;
	margin-left:10%;
	margin-top:-5px;
}



@media screen and (max-width:1080px){
	#content2{
		width:98%;
		margin-left:1%;
		background:#FBFBFB;
		border:1px solid #ccc;
	}
	#content3{
		width:98%;
		margin-left:1%;
		background:#FBFBFB;
		border:1px solid #ccc;
	}
}
