<!-- 人才招聘 -->
<include file="Public:header"/>
        <div class="container-fluid-full">
    <div class="row-fluid">
       <include file="Public:slidersm"/>
             <div class="right content">
                <div class="right-menu">
                  <p class="left"><i class="fa1 icon-home"></i>首页<i class="fa icon-angle-right"></i>人才招聘</p>
                  
                </div>
                <div class="main">
                <div class="panel panel-default">
                     <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa  icon-folder-open"></i>
                   人才招聘              
                </h3>
           </div>
                 </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人才招聘说明：</br></br>
                <form action="__URL__/record?zd=sqsj" method="POST" name="jaj">
                &nbsp;&nbsp; &nbsp;&nbsp; <textarea rows="10" class="form-control" style="width:75%;display:inline-block;" name="con">{$con}</textarea>
                <input type="submit" class="btn btn-success right right-d2" style="margin-right:100px;margin-top:140px;"value="确定"/></br></br>
                 </form>                     
              </div>                        
            </div>
        </div>      
      </div>
    </div>
    <include file="Public:footer"/>
